@use '../base/variables' as v;
@use '../base/mixins' as m;

.trabajos h2 {
    color: v.$blanco;
    margin: 3rem 1rem;
    text-align: center;
}

/* DRIFTWALL */
.driftwall-container {
  width: 100%;
  height: 68rem;
  margin-bottom: 2rem;
  @include m.tablet{
    height: 60rem;
  }
}