@use '../base/variables' as v;

/* Posts (galería TikTok) */

.ultimosposts h2 {
    color: v.$blanco;
    margin: 3rem 1rem;
}

.carousel-posts {
    width: 100%;
    height: 32rem;
    display: flex;
    justify-content: center;
    align-items: center;
}